<header>
	<div class="header-content">
		<div class="account">
			<div class="account-container">
				<div id="cart">
					<% if !@cart.total_count.zero? %>
					<a href="<%= carts_path %>">Корзина(<%= @cart.total_count %>)</a><br>
					<% end %>
				</div>
				<% if user_signed_in? %>
					<span>Ви ввійшли як <%= link_to current_user.login, edit_user_registration_path %></span>
				<% else %>
					<%= link_to 'Вхід', new_user_session_path  %> | <%= link_to 'Реєстрація', new_user_registration_path %>
				<% end %>	
			</div>
		</div>
	</div>
	<div class="header-category">
		<div class="category-container">
			<ul class="category-list">
				<% @categories.each do |category| %>
				<li>
					<%= link_to category.name, category %>
					<% if category.children.exists? %>
					<ul class="drop-down">
						<% category.children.each do |nested_category| %>
						<li><%= link_to nested_category.name, nested_category %></li>
						<% end %>
					</ul>
					<% end %>
				</li>
				<% end %>
			</ul>	
		</div>
	</div>
</header>