<!DOCTYPE html>
<html>
<head>
  <title><%= get_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 main-content">	
				<%= yield %>
			</div>
		</div>
	</div>		

	<%= javascript_include_tag 'file' if controller_name == "products" && (action_name == "new" || action_name == "edit") %>
</body>
</html>
