<!DOCTYPE html>
<html>
<head>
  <title><%= get_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="general-block">
	<%= render 'layouts/admin_bar' %>
	<%= render 'layouts/header' %>
	<%= render 'layouts/sidebar' %>

	<%= yield %>

	<%= javascript_include_tag 'menu' %>
	<%= javascript_include_tag 'header' %>
	<%= javascript_include_tag 'file' if controller_name == "products" && (action_name == "new" || action_name == "edit") %>
	<%= javascript_include_tag 'order_modal' if controller_name == "carts" %>
</body>
</html>
