<!DOCTYPE html>
<html>
<head>
  <title><%= get_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/admin_bar' %>
	<%= render 'layouts/header' %>
	
	<div class="body-content">
		<% if notice %>
			<div id="notice"><%= notice %></div>
		<% end %>

		<div class="main-content">
			<%= yield %>
		</div>	
	</div>	
	
	<%= javascript_include_tag 'file' if controller_name == "products" && (action_name == "new" || action_name == "edit") %>
	<%= javascript_include_tag 'order_modal' if controller_name == "carts" %>
</body>
</html>
